ul {
 @include flex-row;
 padding: .2em 0 0;
 list-style: none;

}

li {
  padding: 0 .3em;
  color: ivory;
}

a {
  text-decoration: none;

  &:visited {
    color: ivory;
  }

  &:hover {
    color: grey;
  }
}

#deleteButton {
  color: $lightblue;
}
