$space: 2em;
$background: #1879E3;
$textColor: #1D1D1F;
$headerColor: #01070D;
$inputBorderBox: 10px;
$spaceBetweenListItems: 50px;
$listItemMargin: 25px;
$listItemBorder: 2px ridge white;
$dateSize: x-small;
