body {
    background-color: skyblue;

}

.note-create {
    background-color: navy;
    color: white;
}

.note-item {
    background-color: grey;
    width: 55%;
    button {
        margin-left: 15px;
    }
}